#!/bin/bash
####################################################### Bash exports
### prefer Terminal alacritty or xterm-256color
# if infocmp alacritty-direct >/dev/null 2>&1; then
#     export TERM='alacritty-direct';
if infocmp xterm-256color >/dev/null 2>&1; then
    export TERM='xterm-256color';
elif [[ $COLORTERM = gnome-* && $TERM = xterm* ]] && infocmp gnome-256color >/dev/null 2>&1; then
	  export TERM='gnome-256color';
fi;

### Color palette (no export, color variables restricted to current shell)
if tput setaf 1 &> /dev/null; then
    tput sgr0; # reset
    bold=$(tput bold);
    reset=$(tput sgr0);
    # Custom color palette (see .dircolors)
    black=$(tput setaf 0);
    red=$(tput setaf 1);
    green=$(tput setaf 2);
    yellow=$(tput setaf 3);
    blue=$(tput setaf 4);
    magenta=$(tput setaf 5);
    cyan=$(tput setaf 6);
    white=$(tput setaf 7);
    purple=$(tput setaf 105);
    br_black=$(tput setaf 8);
    br_red=$(tput setaf 9);
    br_green=$(tput setaf 10);
    br_yellow=$(tput setaf 11);
    br_blue=$(tput setaf 12);
    br_magenta=$(tput setaf 13);
    br_cyan=$(tput setaf 14);
    br_white=$(tput setaf 15);
    br_purple=$(tput setaf 99);
else
    bold='';
    reset="\e[0m";
    black="\e[1;38;5;000m";
    red="\e[1;38;5;001m";
    green="\e[1;38;5;002m";
    yellow="\e[1;38;5;003m";
    blue="\e[1;38;5;004m";
    magenta="\e[1;38;5;005m";
    cyan="\e[1;38;5;006m";
    white="\e[1;38;5;007m";
    purple="\e[1;38;5;105m";
    br_black="\e[1;38;5;008m";
    br_red="\e[1;38;5;009m";
    br_green="\e[1;38;5;010m";
    br_yellow="\e[1;38;5;011m";
    br_blue="\e[1;38;5;012m";
    br_magenta="\e[1;38;5;013m";
    br_cyan="\e[1;38;5;014m"
    br_white="\e[1;38;5;015m"
    br_purple="\e[1;38;5;099m";
fi;
grep_color="1;38;5;013";
ls_color=$blue

        
### Bash settings exports
# Don't put duplicates or lines starting with space in the history
export HISTCONTROL='ignoreboth'
# Increase Bash history size to 16³ entries
export HISTSIZE=4096
export HISTFILESIZE=$HISTSIZE
# Language settings
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
# Editors
export EMACS='emacs'
export EMACSCLIENT='emacsclient'
export EMACS_SERVER_FILE="$HOME/.emacs.d/server/server"
export EMACS_SOCKET_NAME="$HOME/.emacs.d/server/server"
export ALTERNATE_EDITOR=""
export EDITOR="$EMACSCLIENT -t -s $EMACS_SERVER_FILE"
export VISUAL="$EMACSCLIENT -c -s $EMACS_SERVER_FILE -a $EMACS"
# Less settings
export LESS_TERMCAP_md="$ls_color"
export GREP_COLOR="$grep_color"

### Programming environments
# C Compilers
#export CC=gcc-6
#export CXX=g++-6

# Python
export PYTHONIOENCODING='UTF-8'

# OpenMP
export GOMP_STACKSIZE=16384

# Mono
export MONO_GAC_PREFIX="/usr/local"

# BOOST
export BOOST_ROOT="$HOME/local/boost/boost"

# XERCES-C
export XERCES_LIBS="-L$HOME/local/xerces/build/lib"
export XERCES_CFLAGS="-I$HOME/local/xerces/build/include"

# UDUNITS
export UDUNITS_LIBS="-L$HOME/local/udunits/build/lib"
export UDUNITS_CFLAGS="-I$HOME/local/udunits/build/include"

# CFITSIO
export CFITSIO_LIBS="-L$HOME/local/cfitsio/build/lib"
export CFITSIO_CFLAGS="-I$HOME/local/cfitsio/build/include"


