#!/bin/bash
####################################################### Bash exports
### Color palette (no export, color variables restricted to current shell)
if tput setaf 1 &> /dev/null; then
    tput sgr0; # reset
    bold=$(tput bold);
    reset=$(tput sgr0);
    # Custom color palette (see .dircolors)
    black=$(tput setaf 232);
    white=$(tput setaf 255);
    red=$(tput setaf 160);
    green=$(tput setaf 29);
    yellow=$(tput setaf 222);
    blue=$(tput setaf 27);
    magenta=$(tput setaf 125);
    cyan=$(tput setaf 44);
    orange=$(tput setaf 215);
    purple=$(tput setaf 19); # on some screens ~ dark blue, if so take 105
    grey=$(tput setaf 239);
    br_red=$(tput setaf 161);
    br_green=$(tput setaf 35);
    br_yellow=$(tput setaf 220);
    br_blue=$(tput setaf 19);
    br_magenta=$(tput setaf 198);
    br_cyan=$(tput setaf 51);
    br_orange=$(tput setaf 202);
    br_purple=$(tput setaf 57);
else
    bold='';
    reset="\e[0m";
    black="\e[1;38;5;232m";
    white="\e[1;38;5;255m";
    red="\e[1;38;5;196m";
    green="\e[1;38;5;029m";
    yellow="\e[1;38;5;222m";
    blue="\e[1;38;5;027m";
    magenta="\e[1;38;5;125m";
    cyan="\e[1;38;5;045m";
    orange="\e[1;38;5;215m";
    purple="\e[1;38;5;019m";
    grey="\e[1;38;5;239m";
    br_red="\e[1;38;5;161m";
    br_green="\e[1;38;5;035m";
    br_yellow="\e[1;38;5;220m";
    br_blue="\e[1;38;5;019m";
    br_magenta="\e[1;38;5;198m";
    br_cyan="\e[1;38;5;051m"
    br_orange="\e[1;38;5;202m";
    br_purple="\e[1;38;5;057m";
fi;
### Bash settings exports
# Don't put duplicates or lines starting with space in the history
export HISTCONTROL='ignoreboth'
# Increase Bash history size to 16³ entries
export HISTSIZE=4096
export HISTFILESIZE=$HISTSIZE
# Language settings
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
# Default editor
export EDITOR='emacs'
# Less settings
export LESS_TERMCAP_md="${blue}"
# Python IO encoding
export PYTHONIOENCODING='UTF-8'
### Programming environments
# Homebrew llvm
# for compliers also specify:
#   LDFLAGS:  -L/usr/local/opt/llvm/lib
#   CPPFLAGS: -I/usr/local/opt/llvm/include
# for python to find bindings:
#   echo /usr/local/opt/llvm/lib/python2.7/site-packages >> /usr/local/lib/python2.7/site-packages/llvm.pth
# to use bundled libc++:
#   LDFLAGS="-L/usr/local/opt/llvm/lib -Wl,-rpath,/usr/local/opt/llvm/lib"
#export PATH="/usr/local/opt/llvm/bin:$PATH"

# Homebrew gcc
export HOMEBREW_CC=gcc-6
export HOMEBREW_CXX=g++-6
#export CC=gcc-6
#export CXX=g++-6

# OpenMP
export GOMP_STACKSIZE=16384

# Mono
export MONO_GAC_PREFIX="/usr/local"

# BOOST
export BOOST_ROOT="/$HOME/local/boost/boost"

# XERCES-C
export XERCES_LIBS="-L$HOME/local/xerces/build/lib"
export XERCES_CFLAGS="-I$HOME/local/xerces/build/include"

# UDUNITS
export UDUNITS_LIBS="-L$HOME/local/udunits/build/lib"
export UDUNITS_CFLAGS="-I$HOME/local/udunits/build/include"

# CFITSIO
export CFITSIO_LIBS="-L$HOME/local/cfitsio/build/lib"
export CFITSIO_CFLAGS="-I$HOME/local/cfitsio/build/include"


