####################################################### gitignore
# Thumbnail cache files
._*
Thumbs.db

# Folder view configuration files
.DS_Store
Desktop.ini

# Volume indexing files
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# C/C++ object files
*.o

# Java class files
*.class

# Jekyll artifacts
_site
.sass-cache

# Latex stuff
*.dvi
*.aux
*.bbl
*.blg
*.log
