####################################################### gitignore
# Thumbnail cache files
._*
Thumbs.db

# Folder view configuration files
.DS_Store
Desktop.ini

# Volume indexing files
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc
*__pycache__
  # pickle file extension
*.pkl

# C/C++ object files
*.o

# Java class files
*.class

# Jekyll artifacts
_site
.sass-cache

# Latex stuff
*.dvi
*.aux
*.bbl
*.blg
*.log
*.out
*.bcf
*.fls
*.lof
*.lot
*.toc
*.nav
*.snm
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.tex.backup
*.bib.backup
  
