[core]
  excludesfile = ~/.gitignore  # global gitignores
  attributesfile = ~/.gitattributes  # global gitattributes
  trustctime = false  # make git rebase safer

[alias]
  aliases = config --get-regexp alias
  s = status -s  # a brief status summary
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"  # diff between last commit and current state
  b = branch -a
  l = log --pretty=oneline --abbrev-commit -10
  lg = log --pretty=oneline --abbrev-commit
  r = remote -v
  c = commit -avm
  ac = !git add -A && git commit -avm
  aml = !git add -A && git commit --amend --no-edit
  undo = reset HEAD~

[color]
  # Use colors in Git command outputs to the terminal where possible
  ui = auto
[color "branch"]
  current = 44  # cyan
  local = 27  # blue
  remote = 35  # green
[color "diff"]
  plain = normal
  meta = 215 bold  # orange bold
  frag = 161 bold  # magenta red bold for line info
  old = 125 # magenta for deletions
  new = 35  # green for additions
  commit = 215  # orange commit hashes
  whitespace = normal white  # magenta red for whitespaces
[color "status"]
  added = 35  # green
  changed = 161  # red
  untracked = 44  # cyan  
[color "grep"]
  match = normal
[color "interactive"]
  prompt = normal
  header = normal
  help = normal
  error = normal

[help]
  autocorrect = 1  # automatically correct misspelled commands

[diff]
  renames = copies  # detect copies and renames
[diff "pdf"]
  textconv = pdfinfo  # use pdfinfo to do pdf git diff
[diff "zip"]
  textconv = unzip -v
[diff "bin"]
  textconv = hexdump -v -C  # use hexdump to do binary git diff

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[user]
	name = phdenzel
	email = phdenzel@gmail.com
