!--- Xorg config
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

Xcursor.size: 14

XTerm*loginshell: true
XTerm*renderFont: true
XTerm*faceName: xft:Fira Mono:style=Regular:size=11, \
                xft:Hack:style=Regular:size=10, \
                xft:Monospace:style=Medium:size=11   
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

Xmessage*font: -misc-roboto\ mono-medium-r-normal--0-164-0-0-m-0-*-*
Xmessage*geometry: +40+40
Xmessage*Scrollbar.width:       1
Xmessage*Scrollbar.borderWidth: 0
Xmessage.form.message.Scroll: WhenNeeded
Xmessage*Buttons: Quit
Xmessage*defaultButton: Quit

xscreensaver.fadeSeconds: 2

!--- Color config
! (text, base, blue)
*.foreground:  #bdc3ce
*.background:  #303033
*.cursorColor:  #5f8af7
! Black (base, surface1)
*.color0:  #303030
*.color8:  #404850
! Red (red, ruby)
*.color1:  #ff6d6b
*.color9:  #d7005f
! Green (green, viridis)
*.color2:  #44bc84
*.color10:  #00af87
! Yellow (yellow, sand)
*.color3:  #ffd787
*.color11:  #fdb760
! Blue (blue, indigo)
*.color4:  #5F8AF7
*.color12:  #5F5FFF
! Magenta (pink, magenta)
*.color5:  #E83A82
*.color13:  #FF0087
! Cyan (teal, cyan)
*.color6:  #4db5bd
*.color14:  #46d9ff
! White (subtext0, white)
*.color7:  #edf3fe
*.color15:  #f6f9fe
