[Desktop Entry]
Encoding=UTF-8
Name=Xmonad
Exec=xmonad
TryExec=xmonad
NoDisplay=true
Comment=Lightweight tiling window manager
Icon=xmonad.svg
Type=XSession
