/* Adjust icon colors in side pane to phd-ark color palette */
:host, :root {
    --folder-color: var(--folder-color) !important;
}

#folderTree li[data-server-type] > .container > .icon {
    --icon-color: var(--folder-color) !important;
}

/* Change new message button hover effect */
.button.button-primary:hover {
    background-color: var(--button-primary-background-color) !important;
    filter: brightness(130%) !important;
}

/* Force unread count accents */
.unread > .container > .unread-count {
    background-color: var(--folderpane-unread-new-count-background) !important;
}

/* Left toolbar menu buttons */
.spaces-toolbar-button.current {
    background-color: var(--button-primary-background-color) !important;
    color: var(--button-primary-text-color) !important;
    border-color: var(--button-primary-border-color) !important;
}
